@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.containContainers {
    display: grid;
    place-items: center;
    min-height: 100vh;
    /* grid-template-columns: 50% 50%; */
    background-color: #f2d2d2;
}


.container1 {
    background-color: #233d40;
    height: 65vh;
    width: 45vw;
    border-radius: 7px;
    display: grid;
    grid-template-rows: 45% 55%;
}


.outputs {
    background-color: #233d40;
    display: grid;
    grid-template-rows: 12% 70% 18%;
    border-radius: 10px;
}

.outputs .timedateday {
    display: flex;
    align-items: center;
    padding: 18px 10px;
    color: rgba(255, 255, 255, 0.794);
    font-size: .4rem;
    justify-content: space-between;
}


.outputs .outputarea {
    background-color: #374e51;
    margin: 10px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.outputs .outputarea #input_num {
    color: #ba9c00;
}

.outputs .outputarea #output_num {
    color: #65b168;
}


.outputs .abortOpts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outputs .abortOpts .reset,
.outputs .abortOpts .delete {
    padding: 0 7px;
    color: rgba(255, 255, 255, 0.794);
    cursor: pointer;
}


.inputOperators {
    background-color: #374e51;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 45px 45px 45px 45px;
    justify-items: center;
    padding: 10px 5px;
}

.inputOperators .box {
    background-color: #ba9c00;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}



/* .container2 {
    padding: 0 60px;
}

.container2 h1 {
    font-size: 3rem;
    color: #271930;
}

.container2 h4 {
    font-size: 1rem;
    color: #271930;

} */